*{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
}
body {
  background-image: url(../img/let-there-be-sun.png);
}


/* introduction */
.portfolio-pic {
  display: flex;
  align-items: center;
  justify-content: center;
}
.portfolio-pic img {
  width: 100%;
  max-width: 300px;
  margin: 20px 0;
  border-radius: 50%;
  padding: 5px;
  border: 10px double rgba(153, 0, 0, 0.3);
  transition: 0.5s;
}
.portfolio-pic img:hover {
  max-width: 250px;
  opacity: 80%;
}
.info {
  text-align: center;
  padding: 10px;
  margin: 10px;
}
.info h4 {
  opacity: 70%;
}



.about {
  padding: 10px 30px;
  margin: 0px;
  color: black;
}
.about p {
  text-align: justify;
  font-size: 3vh;
}

.skills {
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills td {
  font-size: 4vh;
  padding: 6px;
  margin: 5px;
}



.programming {
  display: flex;
  align-items: center;
  justify-content: center;
}
.programming td {
  font-size: 4vh;
  padding: 6px;
  margin: 5px;
}
.bar-container {
  width: 200px;
  background: none;
}
.inside-container:after,.inside-container:before {
  content:"";
  display:table;
  clear:both
}
.percent-container {
  font-size: 2vh;
  color: white;
  background-color: black;
}
.align-container {
  text-align: center;
}
.click-me-button {
  border: none;
  display:inline-block;
  padding:8px 16px;
  text-align:center;
  cursor:pointer;
  white-space:nowrap
}



.experience {
  text-align: center;
}



.achievements {
  display: flex;
  align-items: center;
  justify-content: center;
}
.achievements td {
  text-align: center;
  font-size: 3vh;
  padding: 6px;
  margin: 5px;
  border: 1px solid black;
}


.works {
  text-align: center;
}
